%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Introduce:
  = @item.introduce
%p
  %b Image:
  = @item.image
%p
  %b Date:
  = @item.date

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
